$xxl: 1600;
$xl: 1440;
$hd: 1280;
$lg: 1000;
$md: 768;
$sm: 500;
$light: light;
$dark: dark;
$bg-light: #ffffff;
$bg-dark: #000000;
$white: #ffffff;
$card-color-light: #f3f2f9;
$card-color-dark: linear-gradient(225deg, #262526 0%, #19181a 100%);
$tariff-color-dark: #373640;
$main-text-color-light: #1a1a1a;
$main-text-color-dark: #ffffff;
$benefit-color: #fcbf59;
$sale-color: #fca759;
$medium: 1024;
$small: 768;
