.review {
  background-color: $card-color-light;
  backdrop-filter: blur(9.06094px);
  border-radius: 10px;
  width: 335px;
  padding: 20px;
  @include user_theme($dark) {
    background: $card-color-dark;
  }
  @include user_theme($light) {
    background: $card-color-light;
  }
  @include iPhoneSE {
    padding: 14px 15px;
    width: 280px;
  }
  @include iPhoneXR {
    width: 374px;
    padding-bottom: 24px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    @include iPhoneSE {
      margin-bottom: 7px;
    }
    @include iPhoneXR {
      margin-bottom: 10px;
    }
    &__title {
      font-size: 15px;
      line-height: 18px;
    }
    &__user {
      opacity: 0.5;
    }
  }
  &-rating {
    display: flex;
    margin-bottom: 9px;
    &__item {
      width: 21px;
      height: 21px;
      margin-bottom: 12px;
      &:not(:last-child) {
        margin-right: 4px;
      }
      @include iPhoneSE {
        width: 17px;
        height: 17px;
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: 3px;
        }
      }
      @include iPhoneXR {
        margin-bottom: 16px;
      }
    }
  }
  &__description {
    font-size: 15px;
    line-height: 18px;
    @include iPhoneSE {
      font-size: 13px;
      line-height: 16px;
    }
  }
}
