@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Text Regular"),
    url("../../fonts/SFProText-Regular.ttf") format("woff");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Text Bold"),
    url("../../fonts/SFProText-Bold.ttf") format("woff");
}
