.section {
  &-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include screen-max($medium) {
      display: flex;
      grid-gap: 0;
    }
    @include screen-max($small) {
      flex-direction: column;
      justify-content: center;
      grid-gap: 10px;
    }
  }
  &__item {
    &:not(:nth-child(-n + 2)) {
      @include screen-max($small) {
        display: none;
      }
    }
  }
  &__button {
    &_more {
      display: none;
      margin: 20px auto 0;
      @include screen-max($small) {
        display: block;
      }
    }
  }
}
