.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 28px 10px 179px;
  background-color: linear-gradient(225deg, #894ac9 0%, #4d46b1 100%);
  background-image: url("../../images/SE_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include images_x_2 {
    background-image: url("../../images/SE_bg@2x.png");
  }
  @include images_x_3 {
    background-image: url("../../images/SE_bg@3x.png");
  }
  &-button {
    display: flex;
    width: 32px;
    height: 32px;
    align-self: end;
    &__img {
      width: 32px;
      height: 32px;
    }
  }
  &__heading {
    align-self: center;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.26px;
    color: $white;
  }
}
