.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 48px 14px 298px;
  background-color: #4d46b1;
  background-image: url("../../images/bg_X.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include images_x_2 {
    background-image: url("../../images/bg_X@2x.png");
  }
  @include images_x_3 {
    background-image: url("../../images/bg_X@3x.png");
  }
  @include iPhoneSE {
    padding: 28px 10px 179px;
    background-image: url("../../images/SE_bg.png");
    @include images_x_2 {
      background-image: url("../../images/SE_bg@2x.png");
    }
    @include images_x_3 {
      background-image: url("../../images/SE_bg@3x.png");
    }
  }
  @include iPhoneXR {
    padding: 48px 12px 349px;
    background-image: url("../../images/bg_XR.png");
    @include images_x_2 {
      background-image: url("../../images/bg_XR@2x.png");
    }
    @include images_x_3 {
      background-image: url("../../images/bg_XR@3x.png");
    }
  }
  &-button {
    display: flex;
    width: 32px;
    height: 32px;
    align-self: end;
    &__img {
      width: 32px;
      height: 32px;
    }
  }
  &__heading {
    align-self: center;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.37px;
    color: $white;
    @include iPhoneSE {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.26px;
    }
  }
}
